<div id="<%= dom_id clown %>">
  <p>
    <strong>Name:</strong>
    <%= clown.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= clown.description %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= clown.cost %>
  </p>

</div>
