<p style="color: green"><%= notice %></p>

<h1>Clowns</h1>

<div id="clowns">
  <% @clowns.each do |clown| %>
    <%= render clown %>
    <p>
      <%= link_to "Show this clown", clown %>
    </p>
  <% end %>
</div>

<%= link_to "New clown", new_clown_path %>
